@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: Cgbold;
    src: url('../assets/font/CGBold.ttf') format('truetype');
  }
  @font-face {
    font-family: Cgsemibold;
    src: url('../assets/font/CGSemiBold.ttf') format('truetype');
  }
}